scipy
requests
rasterio
pandas
scikit-learn==1.3.0
numpy<2
matplotlib
pyproj
jupyter

# TODO: update this when this commit has been released
large_image[gdal,zarr,converter,jupyter] @ git+https://github.com/girder/large_image@b2df3495128ae5b3b764908ea82e6debba3ad563
-f https://girder.github.io/large_image_wheels
